.linkBtn {
  text-align: center;
  width: 360px;
  font-weight: bold;
  background-color: #88aaff;
  color: #fff;
  padding: 0.7em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 5px;
}

.linkBtn:hover {
  color: #ffe5b7;
}

@media only screen and (max-width: 540px) {
  .linkBtn {
    max-width: 250px;
    padding: 0.5em 1em;
  }
}

@media only screen and (max-width: 414px) {
  .linkBtn {
    font-size: 0.8em;
    max-width: 130px;
    padding: 0.6em 1em;
  }
}

@media only screen and (max-width: 280px) {
  .linkBtn {
    height: 30px;
    font-size: .7em;
    max-width: 100px;
    padding: 0.6em 1em;
  }
}
