.second_section {
  width: 100%;
  padding: 100px;
  background-color: #6f5acd;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.second_content > h1 {
    margin-top: 30px;
  color: #e8e2ff;
  font-weight: bold;
  font-size: 2em;
}

.grid {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 1rem;
}

.home_card {
  margin: auto;
  border-radius: 10px;
  background: #2a139277;
  height: 350px;
  width: 400px;
}

.contend_card {
  padding: 30px;
}

.contend_card > h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: #ff93dd;
}

.contend_card > p {
  margin-top: 20px;
  font-size: 1em;
  color: #e8e2ff;
}

@media only screen and (max-width: 414px) {
  .second_section {
    padding: 5px;
  }
  .second_content > h1 {
    font-size: 1.5em;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .contend_card {
    padding: 10px;
  }
  .contend_card > h3 {
    font-size: 1em;
  }

  .contend_card > p {
    font-size: 0.5em;
  }

  .home_card {
    height: 180px;
    width: 180px;
  }
}
