.second_section {
  width: 100%;
  padding: 100px;
  background-color: #6f5acd;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.second_content > h1 {
  margin-top: 10px;
  color: #e8e2ff;
  font-weight: bold;
  font-size: 2em;
}

.grid {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
}

.home_card {
  margin: auto;
  border-radius: 10px;
  background: #2a139277;
  height: 470px;
  width: 400px;
}

.contend_card {
  padding: 30px;
}

.contend_card > h3 {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
  color: #ff93dd;
}

.contend_card > p {
  margin-top: 30px;
  font-size: 1em;
  color: #e8e2ff;
}

@media only screen and (max-width: 1793px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .home_card {
    height: 330px;
    width: 600px;
  }
}

@media only screen and (max-width: 1399px) {
  .home_card {
    height: 300px;
    width: 340px;
  }

  .contend_card > h3 {
    font-size: 1em;
  }

  .contend_card > p {
    margin-top: 10px;
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 912px) {
  .second_section {
    padding: 10px;
  }
  .home_card {
    height: 520px;
    width: 350px;
  }
  .home_card {
    height: 300px;
    width: 350px;
  }
}

@media only screen and (max-width: 716px) {
  .second_section {
    padding: 5px;
  }
  .contend_card > p {
    margin-top: 10px;
    font-size: 0.5em;
  }
  .home_card {
    height: 230px;
    width: 250px;
  }
}

@media only screen and (max-width: 540px) {
  .second_section {
    padding: 10px;
  }

  .second_content > h1 {
    font-size: 1.5em;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .home_card {
    height: 230px;
    width: 350px;
  }

  .contend_card > h3 {
    font-size: 1em;
  }

  .contend_card > p {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 371px) {
  .home_card {
    height: 290px;
    width: 250px;
  }
}
