.project_card {
  margin: auto;
  padding: 1em;
  border: 1px solid #6F5ACD;
  border-radius: 3px;
  width: 400px;
  height: 230px;
}

.project_card h4 {
  background-color: #6F5ACD;
  color: #f7f7f7;
  padding: 0.4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;
  border-radius: 3px;
}

.project_card p {
  color: #7a7a7a;
  margin-bottom: 1em;
}

.project_card p span {
  font-weight: bold;
}

.category_text {
  display: flex;
  align-items: center;
}

.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.category_text .infra {
  background-color: #ffaebc;
}

.category_text .desenvolvimento {
  background-color: #a0e7e5;
}

.category_text .design {
  background-color: #b4f8c8;
}

.category_text .planejamento {
  background-color: #fbe7c6;
}

.project_card_actions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
  
  height: 40px;
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #7f7f7f;
  font-size: 0.9em;
  padding: 0.6em 1em;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid #6F5ACD;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.project_card_actions svg {
  margin-right: 0.5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
  background-color: #6F5ACD;
  color: #FF93DD;
}

@media only screen and (max-width: 1280px) {
  .project_card {
    width: 350px;
  }

  .project_card h4 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1668px) {
  .project_card {
    max-width: 350px;
  }
}

@media only screen and (max-width: 1143px) {
  .project_card {
    max-width: 300px;
  }
}

@media only screen and (max-width: 912px) {
  .project_card {
    max-width: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .project_card {
    max-width: 320px;
  }
}

@media only screen and (max-width: 540px) {
  .project_card {
    max-width: 450px;
  }
}

@media only screen and (max-width: 414px) {
  .project_card {
    max-width: 370px;
  }
}
@media only screen and (max-width: 390px) {
  .project_card {
    max-width: 330px;
    
  }
}

@media only screen and (max-width: 375px) {
  .project_card {
    max-width: 310px;
    height: 260px;
  }
}

@media only screen and (max-width: 280px) {
  .project_card {
    max-width: 220px;
    height: 220px;
  }

  .project_card_actions a,
  .project_card_actions button {
    font-size: 0.7em;
  }
}
