header {
  background-color: #6f5acd;
  margin-bottom: 5rem;
}

.menu {
  height: 50%;
  background-color: #6f5acd;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.item {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.item:hover {
  color: #ff93dd;
  text-decoration: none;
  border-bottom: 3px solid #ff93dd;
}

@media only screen and (max-width: 1024px) {
  .logo {
    font-size: 1.2em;
  }

  .item {
    margin-bottom: 0.3rem;
    gap: 10px;
    font-size: 0.8em;
  }
  .item:hover {
    border-bottom: none;
    border-left: 4px solid #ff93dd;
  }
  .menu {
    max-height: 29%;
  }
}

@media only screen and (max-width: 414px) {
  .menu {
    max-height: 30%;
  }
  .logo {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
  }

  .item {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 375px) {
  .menu {
    max-height: 45%;
  }
}
