header {
  background-color: #88aaff;
}

.menu {
  height: 50%;
  background-color: #88aaff;
}

.item {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.item:hover {
  color: #ffe5b7;
  text-decoration: none;
}

.image {
  width: 70px;
}

@media only screen and (max-width: 414px) {
  .menu {
    max-height: 30%;
    background-color: #88aaff;
  }
}

@media only screen and (max-width: 280px) {
  .menu {
    max-height: 40%;
    background-color: #88aaff;
  }
}

