.submitBtn {
  border-radius: 3px;
  background-color: #6F5ACD;
  color: #fff;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}

.submitBtn:hover {
  color: #FF93DD;
  background-color: #523dad;
}

@media only screen and (max-width: 540px) {
  .submitBtn {
    font-size: .8em;
    padding: 0.7em 1.2em;
  }
}
