.newproject_container {
  width: 50%;
  height: 100%;
  margin: 120px auto;
  padding: 3em;
}

.newproject_container h1 {
  font-weight: bold;
  font-size: 1.5em;
}

.newproject_container p {
  margin-top: 20px;
  color: #7b7b7b;
}

@media only screen and (max-width: 768px) {
  .newproject_container {
    height: 600px;
    width: 100%;
  }
}

@media only screen and (max-width: 912px) {
  .newproject_container {
    height: 970px;
    width: 100%;
  }
}
