.project_container {
  margin-top: 130px;
  height: 1220px;
  width: 100%;
  padding: 2em;
}

.title_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  row-gap: 3rem;
  column-gap: 2rem;
}

.no_projects {
  margin-top: 100px;
}

.img {
  width: 500px;
}

@media only screen and (max-width: 1297px) {
  .dashboard {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 912px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 540px) {
  .dashboard {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 360px) {
  .dashboard {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 250px;
  }
}
