.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding: 4em;
}

@media only screen and (max-width: 912px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    max-width: 100%;
  }
}