.container {
  height: 100vh;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.start {
  margin-top: 5rem;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
  
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

.min-height {
  margin-top: 5rem;
  min-height: 75%;
}

@media only screen and (max-width: 912px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    max-width: 100%;
  }
}